
@media screen and (max-width: 430px){
    
    .stream-header {
   
        background:#F9FBFF;
        height: 615px;
        padding: 3% 5%;
    }
    
    .stream-head {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid #155EEF;
        border-radius: 8px;
        background: #fff;
       
    }
    .stream-logo img{
        width: 70%;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #2E3A53;
    }

    .hamburger img{
        /* display: none; */
    }
    
    .stream-links {
       position: fixed;
       left: -100%;
       width: 100%;
       transition: 0.3s;
    }

    .stream-links.active{
        left: -5%;
    }

    li {
        list-style: none;
        text-align: center;
        padding: 12% 0;
    }
    
    hr{
        width: 50%;
        height: 0.1px;
        margin-top: -5%;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
    
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: red;
    }
}



