
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0 auto;
    padding: 2% 5%;            
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width:430px){
        /* header section */
           
        .nav-logo img {
            width: 70%;
            display: flex;
            /* flex-direction: row; */
            align-items: center;
        }
        
        .nav-list{
            display: none;

        }
        
        .list-items{
          display: none; 
        }
        
        .nav-btn{
            display: none;
            
        } 
        .container .navbar .hamburger {
            display: block;
            cursor: pointer;
        } 

        /* .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color:#2E3A53;
        }
         */
        
   
     /* HERO SECTIO MEDIA QUERY */
    .hero-section {
        flex-direction: column; 
        margin-top: -5%;       
    }
    
    .container .hero-section .hero-text {
        width: 100%;
        text-align: center;
    }
    
    .container .hero-section .hero-text h1 {
        font-size:16px;
        margin-top: 10%;  
        text-align: center;
    
    }
    
    .container .hero-section .hero-text h2 {
        font-size:24px;
        margin-top: 8%;  
        margin-bottom: 8%; 
        text-align: center;
    }
    
    
    .container .hero-section .hero-text p{
        width: 100%;
        font-size: 16px;
        text-align: center;
          
    }

 .hero-section .hero-text .hero-btn {
        width: 100%;
    } 
    
    .hero-img img {
        padding: 2% 0%;
        width: 100%;
        position: relative;
       
    } 


    /* ABOUT SECTION MEDIA QUERY */

    .about-section {
        flex-direction: column-reverse;
    }
    
    .about-section .about-image  {
      width: 97%;
      border: 1px solid #155EEF;
        border-right: none;
        margin-bottom:6%;
        padding:1%;

    }
    
    .about-image img{
        width: 100%;
        position: relative;
        padding-right:-111%;
       
    } 
    
    .about-section .about-text{ 
        width: 100%;
    }

    .about-section .about-text h2 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 6%;
    }
    .about-section .about-text p {
        font-size: 16px;
        line-height: 24px;
    
    }
   
/* FRAME SECTION MEDIA QUERY */
    .container .frame-section{
        display: flex;
        flex-direction: column;
        position: relative;
        background: #F9FBFF;
    }
        .frame-section .frame-text{
        /* display: none; */
        position: relative;
        width: 100%;
        left: 0%;
        border-radius: 8px;
        font-size: 16px;
        margin-bottom: 6%;
    }

    .frame-section .frame-text h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .frame-section .frame-img{
        display: none;
    }

    .footer-section{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around!important;
        align-items: center;
        gap: 4%;
        /* padding: 2%  8% 4% 0%; */

    }

    .footer-section .logo img{
      width: 179px;
      padding: 2%;
      /* margin-right: -100%; */
    }
    
    .media-icon {
      display: flex;
      /* justify-content: center; */
      gap: 28px;
      /* width: 20px; */
    }
    
    .footer-section .copyright {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        padding: 4% 0%;
       position: relative;
        text-align: center;
    }
 
}  

/*============================================ MEDIA QUERY AT 928 ========================================================================= */
/* @media screen and (max-width:820px){
        .nav-menu {
            display: flex;
            justify-content: center;
        }
        .nav-list{
            margin-right: 100%;
        }
        
        .list-items{
        }
        
        .nav-btn{
            
        } 
        .hamburger {
            cursor: pointer;
        } 


        
   
     /* HERO SECTIO MEDIA QUERY */
    /* .hero-section {
        flex-direction: column; 
    }
    
    .container .hero-section .hero-text {
        width: 100%;
        text-align: center;
    }
    
    .container .hero-section .hero-text h1 {
        font-size:16px;
        margin-top: 10%;  
        text-align: center;
    
    }
    
    .container .hero-section .hero-text h2 {
        font-size:24px;
        margin-top: 8%;  
        margin-bottom: 8%; 
        text-align: center;
    }
    
    
    .container .hero-section .hero-text p{
        width: 100%;
        font-size: 16px;
        text-align: center;
          
    }

 .hero-section .hero-text .hero-btn {
        width: 100%;
    } 
    
    .hero-img img {
        padding: 2% 0%;
        width: 100%;
        position: relative;
        
    } 


    /* ABOUT SECTION MEDIA QUERY */

    /* .about-section {
        flex-direction: column-reverse;
    }
    
    .about-section .about-image  {
      width: 97%;
      border: 1px solid #155EEF;
        border-right: none;
        margin-bottom:6%;
        padding:1%;

    }
    
    .about-image img{
        width: 100%;
        position: relative;
        padding-right:-111%;
       
    } 
    
    .about-section .about-text{ 
        width: 100%;
    }

    .about-section .about-text h2 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 6%;
    }
    .about-section .about-text p {
        font-size: 16px;
        line-height: 24px;
    
    }
   
/* FRAME SECTION MEDIA QUERY */
    /* .container .frame-section{
        display: flex;
        flex-direction: column;
        position: relative;
        background: #F9FBFF;
    }
        .frame-section .frame-text{
        position: relative;
        width: 100%;
        left: 0%;
        border-radius: 8px;
        font-size: 16px;
        margin-bottom: 6%;
    }

    .frame-section .frame-text h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .frame-section .frame-img{
        display: none;
    }

    .footer-section{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around!important;
        align-items: center;
        gap: -80%;
        padding: 2%  8% 4% 0%;

    }

    .footer-section .logo img{
      width: 179px;
      padding: 2%;
    }
    
    .media-icon {
      display: flex;
      gap: 28px;
    }
    
    .footer-section .copyright {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        padding: 4% 0%;
       position: relative;
        text-align: center;
    }
 
}  */ 
/*======================================= MEDIA QUERY FOR MAX WITH 928 ================================================ */

/* @media screen and (max-width:940px){
           
        .nav-logo img {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .nav-menu {
            display: flex;
            justify-content: space-around;
                    
        }

        .nav-list{
            display: flex;
            justify-content: center;
            gap:500%;
        }
        
        .list-items{
          gap: 15%;
        }
        
        .nav-btn{
            
        } 
        .hamburger {
            cursor: pointer;
        } 

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            background-color:#2E3A53;
        }
        
         */
   
     /* HERO SECTIO MEDIA QUERY */
    /* .hero-section {
        flex-direction: row; 
    }
    
    .container .hero-section .hero-text {
        width: 100%;
    }
    
    .container .hero-section .hero-text h1 {
        font-size:18px;
        margin-top: 2%;  
    
    }
    
    .container .hero-section .hero-text h2 {
        font-size:32px;
        margin-top: 8%;  
        margin-bottom: 8%; 
    }
    
    
    .container .hero-section .hero-text p{
        width: 100%;
        text-align: center;
          
    }

 .hero-section .hero-text .hero-btn {
        width: 40%;
    } 
    
    .hero-img img {
        padding: 2% 0%;
        width: 100%;
        position: relative;
       
    }  */


    /* ABOUT SECTION MEDIA QUERY */

    /* .about-section {
        flex-direction: row;
    }
    
    .about-section .about-image  {
      width: 97%;
      border: 1px solid #155EEF;
        border-right: none;
        margin-bottom:6%;
        padding:0.5%;

    }
    
    .about-image img{
        width: 100%;
        position: relative;
        padding-right:-111%;
       
    } 
    
    .about-section .about-text{ 
        width: 100%;
    }

    .about-section .about-text h2 {
        font-size: 24px;
        line-height: 28px;
        padding-top: 6%;
      
    }
    .about-section .about-text p {
        font-size: 16px;
        line-height: 24px;
    
    } */
   
/* FRAME SECTION MEDIA QUERY */
    /* .container .frame-section{
        display: flex;
        flex-direction: column;
        position: relative;
        background: #F9FBFF;
    }
        .frame-section .frame-text{
        position: relative;
        width: 100%;
        left: 0%;
        border-radius: 8px;
        font-size: 24px;
        margin-bottom: 6%;
    }

    .frame-section .frame-text h2 {
        font-size: 36px;
        text-align: center;
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .frame-section .frame-img{
        display: none;
    }

    .footer-section{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around!important;
        align-items: center;
        gap: -80%;
        padding: 2%  8% 4% 0%;

    }

    .footer-section .logo img{
      width: 179px;
      padding: 2%;
    }
    
    .media-icon {
      display: flex;
      gap: 28px;
    }
    
    .footer-section .copyright {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        padding: 4% 0%;
       position: relative;
        text-align: center;
    }
 
} */

    
/* Header Section */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 1% 2.5%;
 }

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;

}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80%;
    font-weight: 500;
    gap: 97px;
}

.list-items{
    font-family: 'Halant', serif;
    list-style: none;
    font-weight:500 ;
    color:#041330;
    font-size: 150%;
    line-height: 150%;
    
}

.nav-btn{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 100%;
    line-height: 150%;
    letter-spacing:0.5%;
    border: 1px solid  #155EEF;
    color: #155EEF;
    border-radius: 8px;
    padding: 1% 2%;
    cursor: pointer;
    background:none;
} 

.hamburger {
   display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color:#2E3A53;
}


/* Hero Section */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  #F9FBFF;
    border: 2px solid #155EEF;
    margin-bottom:3%;
    border-radius: 8px;
         
}

.hero-text {
   
    width: 100%;
    padding: 0 2%;
}

.hero-image{
    width: 30%;
}

/* .hero-text p {
    width: 0%;
 
} */

.hero-section .hero-text h1 {
    font-family: 'Halant', serif;
    color: #2E3A53;
    font-weight: 600;
    font-size: 24px;
    gap: 10px;    

}

.hero-section .hero-text h2 {
    font-family: 'Halant', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: #155EEF;
    gap: 10px;
    margin-bottom: 2%;
}


.hero-section .hero-text p{
    font-family: 'Manrope', sans-serif;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color:  #2E3A53;
    line-height: 160%;
    letter-spacing: 0.5%;
}

.hero-section .hero-text .hero-btn {
    font-family: 'Manrope', sans-serif;
    background-color: #155EEF;
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 2% 8%;
    margin-top: 8%;
    cursor: pointer;
}

.hero-img {
    padding: 2% 2%;
   
} 


/* About Section  */

.about-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
    /* padding: 8px 32px; */
    margin-bottom:3%;
    
}

.about-image {
   width: 100%;
   border: 1px solid #155EEF;
   border-right: none;
   margin: 4%;
}

.about-image img{
    width: 101%;
    padding: 1%;

} 

.about-text{ 
    width: 120%;

} 

.about-text h2 {
    font-family: 'Halant', serif;
    color:#041330;
    font-size: 250%;
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    padding-bottom: 2%;
   
  
} 
 .about-text p{ 
    font-family: 'Manrope', sans-serif;
    color:#2E3A53;
    font-size: 150%;
    width: 100%;
    text-align: justify;
    margin: 0 auto;
    line-height: 160%;
    line-height: 36px;
    letter-spacing: 0.5px;
    padding: 2%;
    margin-bottom: 5%;
}  


/* Frame section */


.frame-section{
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: 2px solid #155EEF;
    border-radius: 8px; 
}

.frame-text {
    width: 50%;
    background: #F9FBFF;
    position: absolute;
    padding: 3% 2% ;   
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #2E3A53;
    left: 32px;
    top: 6%;
    text-align: justify;
    gap: 24%;
}

.frame-text p{
    margin-top: 4%;
    font-family: Manrope;
  

}
.frame-text h2{
    font-family: 'Halant';
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #041330;
}

.frame-text ul{
    margin-top: 4%;
    font-family: Manrope;
}
.frame-img{
    padding: 10% 2% 3%;

}

/* footer section */

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #155EEF;
    border-radius: 8px;
    padding: 8px 32px;
    margin-top:1%;
}

.media-icon {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-section .logo img{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0%;
        /* width: 100%; */
}

.copyright {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'poppins', serif;
    font-size: 150%;
    font-weight:500;
} 
